@media(max-width: 400px){
	.home-section-content {
		padding: 15px 10px;
	}

	.home-section-content {
		top: 2%;
	}

	.custom-select {
		margin-bottom: 20px;
	}

	.search-btn {
		margin: 0;
	}

	.col-sm-6.col-md-4 {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		width: 100% !important;
		gap: 3rem;
	}

	.over-lap-content {
		top: 20px;
		width: 98%;
	}

	.over-lap-content h5 {
		font-size: 29px;
	}

	.recent-content {
		padding: 10px 4px;
		line-height: 32px;
		text-align: center;
	}

	.recent-content h5 {
		font-size: 18px;
	}


	.recent-content strong {
		font-size: 14px;
	}

	.recent-item-footer {
		display: flex;
		justify-content: space-between;
		padding: 14px 5px;
		background: #f2f2f2;
	}

	.most-category-item {
		position: relative;
		margin-bottom: 50px;
	}

	.footer-item {
		margin-bottom: 50px;
		text-align: center;
	}

}




@media(max-width: 575px){
	.home-section-content {
		padding: 15px 10px;
	}

	.home-section-content {
		top: 2%;
	}

	.col-sm-6.col-md-4 {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		width: 49%;
		gap: 3rem;
	}

	.footer-item {
		margin-bottom: 50px;
		text-align: center;
	}

	.most-category-item {
		position: relative;
		margin-bottom: 50px;
	}

}



@media(max-width: 767px){
	.home-section-content {
		padding: 15px 10px;
	}

	.home-section-content {
		top: 2%;
	}

	.custom-select {
		margin-bottom: 10px;
	}

	.most-category-item {
		margin-bottom: 50px;
	}

	.over-lap-content {
		top: 40px;
		width: 98%;
	}

	.over-lap-content h5 {
		font-size: 35px;
	}

}


@media(max-width: 950px){
	.home-section-content {
		padding: 30px 10px;
	}

	.home-section-content {
		top: 20%;

	}

	.over-lap-content {
		top: 40px;
	}

	.over-lap-content h5 {
		font-size: 35px;
	}

}